#gridVideo{
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.App{
  position: relative;
}

.App{
  position: relative;
}

.function{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 45%;
}

.function button{
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius:10px ;
  background-color: blueviolet;
}
